*.xcuserstate
httpd/packages/httpd-2.4.x.tar.gz
test/conf/sites/mod-h2.greenbytes.de.conf
*.o
*.slo
*.lo
*.la
.libs
.configured
.deps
compile
aclocal.m4
autom4te.cache
autoscan.log
config.guess
config.log
config.status
config.sub
config.h
config.h.in
config.h.in~
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
Makefile.in
Makefile
mod_h2-*.tar.gz
