*.xcuserstate
sandbox/httpd/packages/httpd-2.4.x.tar.gz
sandbox/test/conf/sites/mod-h2.greenbytes.de.conf
*.o
*.slo
*.lo
*.la
*.pcap
.libs
.configured
.deps
compile
aclocal.m4
autom4te.cache
autoscan.log
config.guess
config.log
config.status
config.sub
config.h
config.h.in
config.h.in~
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
Makefile.in
Makefile
mod_h2-*.tar.gz
mod_http2-*.tar.gz
m4
mod-h2.xcodeproj/project.xcworkspace/xcuserdata/
mod-h2.xcodeproj/xcuserdata/sei.xcuserdatad/*
mod-h2.xcodeproj/xcuserdata/sei.xcuserdatad/*/*
mod-h2.xcodeproj/xcuserdata/sei.xcuserdatad/*/*/*
mod_http2/.dirstamp
test-driver
test/.cache/
test/e2e/.cache/
test/e2e/*.pyc
test/e2e/__pycache__/
test/gen/
test/e2e/.pytest_cache/
test/e2e/gen/
test/e2e/conf/httpd.conf
test/e2e/conf/modules.conf
test/e2e/config.ini

