body {
    margin: 0;
    padding: 0px 0 30px 0;
    background-color: white;
    font-family: "american typewriter", "palatino linotype", Courier, serif;
    font-weight: normal;
    border-top: solid 84px #222;
}

.wrapper {
    margin-top: -32px;
}

.backlogo {
    background: transparent url(../images/kambg.jpg) center -0px no-repeat;
    position: fixed;
    float: left;
    width: 272px;
    padding-top: 400px;
    top: 200px;
}

.wrapper {
    background: white;
    z-index: 100;
}

h1 {
    font-weight: normal;
    color: #bd8047;
/*    color: #d0d0d0;*/
}
h2, h3, h4 {
    font-weight: normal;
    color: #bd8047;
}

a, a:visited {
    color: #bd8047;
}