body {
    margin: 0;
    padding: 0px 0 30px 0;
    background-color: white;
    font-family: "american typewriter", "palatino linotype", Courier, serif;
    font-weight: normal;
    border-top: solid 84px #222;
}

.wrapper {
    margin-top: -32px;
}

.backlogo {
    background: transparent url(../images/kambg.jpg) center -0px no-repeat;
    position: fixed;
    float: left;
    width: 272px;
    padding-top: 400px;
    top: 200px;
}

.wrapper {
    background: white;
    z-index: 100;
}

h1 {
    font-weight: normal;
    color: #bd8047;
/*    color: #d0d0d0;*/
}
h2, h3, h4 {
    font-weight: normal;
    color: #bd8047;
}

a, a:visited {
    color: #bd8047;
}
.post-date {
    color: #c0c0c0;
    font-size: 9pt;
    float: right;
}

@media only screen and (max-width: 960px) {
    body {
        border-width: 52px;
    }
    .wrapper {
        background-color: transparent!important;
        margin-top: -32px!important;
        padding: 0 .5em;
    }
    
    .backlogo {
        float: right;
        position: static;
        transform: scale(0.75) translate(25px, -150px);
        -webkit-transform: scale(0.75) translate(25px, -150px);
        margin: 0 0 0px -50px;
    }
    
    header ul {
        position: static;
    }
    
}

@media only screen and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px) {

body {
    border-width: 42px;
}
.wrapper {
    background-color: transparent!important;
    margin-top: -32px!important;
    padding: 0 .5em;
}

.backlogo {
    float: right;
    position: static;
    transform: scale(0.5) translate(125px, -2500px);
    -webkit-transform: scale(0.5) translate(125px, -250px);
    margin: 0 0 -200px -100px;
}

header ul {
    position: static;
}

}

td.num {
    text-align: right;
}

.fn {
    font-size: smaller;
}

/* chart styling */
.chart {
    width: 120%;
    height: 600px;
}